.fly-menu {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 30px;
	list-style: none;
	border-bottom: $menu-border-width solid $menu-border-color;
	box-shadow: $menu-box-shadow;
	.menu-item {
		padding: $menu-item-padding-y $menu-item-padding-x;
		cursor: pointer;
		transition: $menu-transition;
		list-style: none;
		margin-bottom: -$menu-border-width;
		border-bottom: $menu-item-active-border-width solid transparent;

		&:focus {
			text-decoration: none;
		}
		&.is-disabled {
			color: $menu-item-disabled-color !important;
			pointer-events: none;
			cursor: default;
		}
	}
	
}
// 竖向样式
.menu-vertical {
	flex-direction: column;
	border-bottom: none;
	box-shadow: none;
	border-right: $menu-border-width solid $menu-border-color;
	.menu-submenu-open{
		>.fly-submenu{
			display: none;
		}
	}
	// .menu-item-hover {
		.submenu-title{
			&:hover{
				color: $menu-item-active-color;
			}
		}
		.menu-item-li{
			&:hover{
				color: $menu-item-active-color;
			}
		}
	.fly-submenu {
		padding: 0;
	}
	.menu-item {
		border-color: transparent;
		border-bottom: none;
		&.active {
			color: $menu-item-active-color;
			border-bottom: none;
			background-color: #e6f7ff;
		}

		&.menu-submenu {
			padding: 0;
			&.active {
				.submenu-title {
					background-color: transparent;
				}
			}
			.submenu-title {
				padding: $menu-item-padding-y $menu-item-padding-x;
			}
		}
	
	}

}
// 横向模块样式
.menu-horizontal {
	.menu-submenu {
		position: relative;
		&::after {
			position: absolute;
			display: block;
			top: calc(100%);
			height: 6px;
			left: 0;
			right: 0;
			content: '';
		}
		&.menu-item {
			padding: 0;
			margin-bottom: 0;
		}
		.submenu-title {
			padding: $menu-item-padding-y $menu-item-padding-x;
			margin-bottom: -$menu-border-width;
		}
		
		// 下拉列表样式
		.fly-submenu {
			display: none;
			padding: 0;
			position: absolute;
			list-style: none;
			background: $white;
			z-index: 100;
			top: calc(100% + 8px);
			left: 0;
			border: $menu-border-width solid $menu-border-color;
			padding-left: 0;
			transform: translateY(-2px);
			.menu-item-li{
				white-space: nowrap;
				&:hover{
					color: $menu-item-active-color;
					border-color: transparent;
				}
			}
			
		}
	}
	.menu-item:hover {
			color: $menu-item-active-color;
			border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
		.fly-submenu {
			.menu-item {
				color: $body-color;
				&:hover{
					color: $menu-item-active-color;
					border-color: transparent;
				}
			}
		}
		&.menu-submenu {
			.fly-submenu {
				display: block;
			}
		}
	}
}
