.status-icon-error{
  color:#ed5b56;

}
.status-icon-info{
  color:#4091f7;
}
.status-icon-success{
  color:#72bf40;
}
.status-icon-warning{
  color:#f0af41;
}
.status-icon-sm{
  font-size: 0.8rem;
}
.status-icon-lg{
  font-size: 1.5rem;
}