.fly-tabs {
	ul,
	li {
		list-style: none;
	}

	.tabs-context {
		padding-left: 0;
		li {
			display: none;
		}
		.active {
			display: block;
		}
	}
	&.tabs-small {
		.tabs-nav-box {
			li {
				padding: 8px 5px;
			}
		}
	}
	&.tabs-large {
		.tabs-nav-box {
			li {
				.tabs-text {
					font-size: 16px;
				}
				padding: 16px 5px;
			}
		}
	}
	&.tabs-card {
    .tabs-nav-box {
      li {
        padding: 8px 16px;
        background: #fafafa;
        margin: 0 2px -1px 0;
        border: 1px solid #f0f0f0;
        border-radius: 2px 2px 0 0;
        &.active {
          background: #fff;
          border-bottom-color: transparent;
        }
      }
    }
		&.tabs-large {
			.tabs-nav-box {
				li {
					padding: 7px 16px 6px;
				}
			}
    }
    &.tabs-small {
			.tabs-nav-box {
				li {
					padding: 6px 16px;
				}
			}
		}
	}
	&.tabs-left{
		.tabs-nav-box {
			border-bottom: none;
			display: inline-block;
			vertical-align: top;
			border-right:$menu-border-width solid $menu-border-color;

			li {
				display: block;
				transform: $tabs-transition;
				padding: 12px 5px;
				font-size: $tabs-font-size;
				cursor: pointer;
				margin-right: -2px;
				background: transparent;
				border-right: 2px solid transparent;
				border: none;
				&.active {
					color: $tabs-border-active-color;
					font-weight: 500;
					border-right: 2px solid $menu-item-active-color;
				}
				.tabs-text {
					font-size: 14px;
					display: inline-block;
					vertical-align: middle;
				}
				.tabs-icon {
					line-height: 0;
					padding-right: 10px;
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
		.tabs-context{
			display: inline-block;
			vertical-align: top;
			padding-left: 24px;
		}
		
	} 
	.tabs-nav-box {
		padding-left: 0;
		border-bottom: $menu-border-width solid $menu-border-color;
		li {
			display: inline-block;
			transform: $tabs-transition;
			padding: 12px 5px;
			margin: 0 32px 0 0;
			font-size: $tabs-font-size;
			cursor: pointer;

			// pointer-events: none;
			&:hover {
				color: $tabs-border-hover-color;
			}
			&.is-disabled {
				color: $menu-item-disabled-color !important;
				// pointer-events: none;
				cursor: not-allowed;
			}
			.tabs-text {
				font-size: 14px;
				display: inline-block;
				vertical-align: middle;
			}
			.tabs-icon {
				line-height: 0;
				padding-right: 10px;
				display: inline-block;
				vertical-align: middle;
			}
		}
		.active {
			color: $tabs-border-active-color;
			font-weight: 500;
			border-bottom: 2px solid $menu-item-active-color;
		}
	}
}
