@mixin button-size($btn-paddding-y,$btn-paddding-x,$font-size,$border-radius) {
	padding: $btn-paddding-y $btn-paddding-x;
	font-size: $font-size;
	border-radius: $border-radius;
}

@mixin button-style(
  $background,
  $color,
  $border-color,
  $hover-background:lighten($background,7.5%),
  $hover-color:$color,
  $hover-border:lighten($border-color,10%)
  ) {
	color: $color;
	background-color: $background;
  border-color: $border-color;
  &:hover{
    color: $hover-color;
    background-color:$hover-background;
    border-color:$hover-border;
  }

  &.disabled,&[disabled]{
    color: $gray-600;
    background-color: $gray-200;
    border-color: $gray-400;
    &:hover{
      color: $gray-600;
      background-color: $gray-200;
      border-color: $gray-400;
    }
  }
  
}
@mixin alert-style(
  $background-color,
  $border-color,
){
  // background-color: lighten($border-color,20%);
  background-color: $background-color;
  border-color: $border-color,;
}
@mixin alert-icon-style($color,$font-size){
  color: $color;
  font-size:$font-size;

}