.alert {
	position: relative;
	margin-bottom: 1rem;
	font-size: .8rem;
	color: $body-color;
	background-image: none;
	text-align: left;
	line-height: $line-height-base;
	border: $alert-border-width solid transparent;
	// transition: $btn-transition;
	.alert-default-context-showIcon{
    padding:$alert-padding-x $alert-padding-y $alert-padding-x 2rem ;
	}
	.alert-default-context-notShowIcon{
		padding: $alert-padding-x $alert-padding-y;


	}
	.alert-description-context-notShowIcon {
    padding:1rem;
	}
	.alert-description-context-showIcon {
    padding:1rem 1rem 1rem 4rem;

	}
}

.alert-success {
	@include alert-style($alert-background-success,$alert-bordercolor-success);
}
.alert-error {
	@include alert-style($alert-background-error,$alert-bordercolor-error);
}
.alert-warning {
	@include alert-style($alert-background-warning,$alert-bordercolor-warning);
}
.alert-info {
	@include alert-style($alert-background-info,$alert-bordercolor-info);
}

.alert-close-btn {
	position: absolute;
	right: 1rem;
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
	font-size: .8rem;
	text-align: center;
	display: inline-block;
	color: $gray-600;
	top: $alert-padding-x;
	transition: color .3s;
	&:hover,
	&:focus {
		color: $gray-700;
	}
}
.alert-description-context {
	.alert-description-context-message {
		font-size: 1rem;
    line-height: 1.5rem;
    display: block;
		margin-bottom: 4px;
	}
	.alert-description-context-description {
		font-size: .8rem;
		color: $gray-700;
		line-height: 1.2rem;
		margin: 0;
	}
	
}
.alert-icon{
	position: absolute;
	top: 0.7rem;
	line-height: 0;
	left: 0.8rem;
	&.alert-icon-description{
		position: absolute;
		top: 1rem;
		left: 1.5rem;
	}
}

